.underlined {
    position: relative;
    display: inline-block !important;
}

.underlined::before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    height: 5px;
    width: 100% !important;
    border: solid 5px rgb(255, 128, 0);
    border-color: #fb059d transparent transparent transparent;
    border-radius: 50%;
}

.resume {
    position: relative;
    display: inline-block !important;
}

.resume::before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    height: 2px;
    width: 100% !important;
    border: solid 2px black;
    border-color: black transparent transparent transparent;
    /* border-radius: 50%; */
    margin-bottom: 10px;
}

.A4 {
    width: 790px;
    height: 942px;
    margin: 2%;

}

.A4Margin {
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: 10px;
    margin-left: 10px;

}

.A4Content {
    width: 690px;
}

.A4Title {
    width: 690px;
}

.big {
    font-size: 50px;
}